asgiref==3.11.1
Django==6.0.2
gunicorn==25.0.1
# uncomment the following line if
# you want to use waitress over gunicorn
# waitress==3.0.2
packaging==26.0
pillow==12.1.0
setuptools==80.10.2
sqlparse==0.5.5
python-dotenv==1.2.1
whitenoise==6.11.0
coverage==7.13.3
black==26.1.0
flake8==7.3.0
isort==7.0.0
Flake8-pyproject==1.2.4
